body {
    font-family: 'Montserrat', sans-serif;
    color: rgb(71, 89, 29);
    /*background-image: url("https://lh3.googleusercontent.com/P0EBveMOl9muH0XsMXMbiH43_GAwVTQc5l4fb1p9_RpRm6CkJbgbMbeBPDkQvONT8NWUNdA18dbcmNDI-pCmDHsl591-CzzoIwUdEVk-tZ5EH7qu1v0_SWm-yEchQAtsKtO7dTi6wZTY5fOu0RvvkHNYbv7eSBKWc_1_gddm5AjcZJZYgSJ4O1urDmEy7l5voJvzPcdd76QmTYRMGA2Ib_QEKaJc_MaD2vPDY8zx7JN8nmWShrF1zudf_P0pqaGDgiEZvO9axFiKAh8UjB_sz25O3wNP1SA9CB5Ve1uYOfOevXthn8hWT6DuSrykPPLlvhM-7_YrJyGziwOiWSbb1rhmG8TasRWzuqZ1tmpfRNkRP4Ku4VIJp8EZDBMLA0EiLYdo-tOMUiyByBwxAXDaTRA9Ae7RGn2t7AmmYRj8AOYLhem_aWiDmreOUVzREZaNnOvlUSAIOp3fhrA_o7fjFctrd2EHCpeeW4q7LtIGC8uHKLYsD-LuYGtl0pQgoBRjKr2jHTrP9RhY7BJMOYVkToVx5lBLv1k-peKmLZYhbSmV2sWUDZX-EageKoPKkHk2Zde76CV4Mpij0NdLDAWGj1kqdpWMNhz5-rVwbMUhWdx8feZBl8yWezREio3RsXwqF3S22mDcjtT-qQJ6jEHd8vx0Qaes0vcZBN6g_fAXG7cn-2D0QRCqg4jNu3BltZg=w1051-h788-no?authuser=0");*/
    background-color: rgb(240,238,223);
    margin: 0px;
}


header {
    background-color: rgb(71, 89, 29);  
  }
  
nav {
    padding: 1rem 0;
    margin-top: 0;
  }


figure {
    margin: 0px;
    z-index: -1;
}
nav li {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    display: inline-block;
    width: 24%;
  }

nav img {
    position: relative;
    top: 1rem;
}

header a {
    text-decoration:none;
    color:rgb(226, 242, 104);
}
  
main {
    width: 1000px;
    background-color:#fff;
    padding: 1%;
    margin: auto;
    margin-top: -15%;
    position: relative;

}

.index {
    margin-top: 0;
}

ul .notes {
    list-style-type: square;
}

h1 .main-page{
    color: rgb(71, 89, 29);
    border: 3px outset rgb(214, 172, 141);
    padding: 1rem;
    width: 400px;
    text-align: center;
    margin: auto;
    z-index: 2;
}

.content-title {
    margin-top: -2em;
    color: #fff;
    font-size: 60px;
}

h2 {
    
}

h3 {   
}

img {
    image-orientation: from-image;}

    .description h2{
    font-family: 'Montserrat', sans-serif;
    padding: 0 1rem
}
.description h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 0 1rem
}
hr{
    height: 2px;
    background-color: rgb(71, 89, 29);
}

p {
    padding: 0.5rem 1rem;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.about-pic {
    width: 50%;
    display: inline-block;
    }

.about {
    width: 49%;
    display: inline-block;
    top: 0px;
    vertical-align: top;
}

.resource img {
    width: 20%;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 10px;
}

.resource-info {
    display: inline-block;
    width: 71%;
    vertical-align: top;
}


footer {
    background-color: rgb(193,184,169);
    color:black;
    width: 100%;
    opacity: .95;
    position: relative;
}

footer a {
    text-decoration:none;
    color:black;
}

a {
    text-decoration: none;
}

#area-info-bar {
    display: flex;
    flex-direction: row;
    justify-content: safe;
    flex-wrap: wrap;
    padding-left: 24px;
}

#copyright {
    font-size: 0.8em;
}

#trail-stats-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 24px;
}

#area-info-bar span {
    margin-bottom: 0.5rem;
}

.d-inline-block {
    display: inline-block;
    margin-bottom: 0.1rem;
}

#resources .d-inline-block, #region-hikes .d-inline-block, #regions-small .d-inline-block {
    display: inline-block;
    margin: 0.4rem;
}

.banner {
    color:rgb(226, 242, 104);
    background-color: black;
    padding: 1em 0;
    margin-top: 0;
}

.banner h3{
    padding: 0em 1em;
    font-family: 'Montserrat', sans-serif;
}

.content-title, .most-recent-hike, .best-hike, .region-link{
    font-family: 'Lato', sans-serif;
    text-shadow: 2px 2px 10px black;
}
.site-title{
    font-family: 'Montserrat', sans-serif;
}
.cover-image {
    width: 100%;
}

.falcon-book {
    width: 100%;
}

.hike-type-icon, .elevation-icon, .distances-icon, .difficulty-icon{
    height: 20px;
    vertical-align: text-bottom;
}

.regions, .other-regions {
    margin: 0 auto;
    text-align: center;
}

.regions h3, .other-regions h3 {
    text-align: left;
}

.region-link {
    width: 47%;
    height: 150px;
    display: inline-block;
    position: relative;
    text-align: center;
    color: white;
    margin: 1%;
}

.most-recent-hike, .best-hike {
    width: 98%;
    height: 400px;
    display: inline-block;
    position: relative;
    text-align: center;
    color: white;
    margin: 1%;
}

.region-link-label {
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: white;
}

.most-recent-hike h2, .best-hike h2 {
    position: absolute;
    top: 8px;
    left: 16px;
    color: white;
}
.most-recent-hike h1, .best-hike h1 {
    position: absolute;
    bottom: 8px;
    right: 16px;
    color: white;
}
.region-link img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.most-recent-hike img, .best-hike img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.top-easy-hikes, .top-backpacks, .top-strenuous-day-hikes, .top-boston-hikes {
    width: 49%;
    display: inline-block;
}

.top-easy-hikes h3, .top-backpacks h3, .top-strenuous-day-hikes h3, .top-boston-hikes h3 {
    text-align: center;
}

.top-easy-hikes img, .top-backpacks img, .top-strenuous-day-hikes img, .top-boston-hikes img{
    width: 40%;
    display: inline-block
}

.top-easy-hikes ol, .top-backpacks ol, .top-strenuous-day-hikes ol, .top-boston-hikes ol {
    display: inline-block;
    width: 50%;
    top: 0px;
    vertical-align: top;
}
.top-easy-hikes li, .top-backpacks li, .top-strenuous-day-hikes li, .top-boston-hikes li{
    margin-bottom: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.top-easy-hikes a, .top-backpacks a, .top-strenuous-day-hikes a, .top-boston-hikes a{
    text-decoration: none;
    color: rgb(71, 89, 29);
}

.story h3 {
    text-align: center;
}

.content-containter {
    position: relative;
}
.content {
    float: left;
    width: 650px;
}

.sidebar {
    float: right;
    width: 350px;
}

.clear {
    clear: both;
}
.image-row {
    text-align: justify;
    margin: 0 1rem;
}

.big-video {
    width: 100%;
    height: 350px;
}

.stretch {
    width: 100%;
    display: inline-block;
}

.sidebar h3{
    color:hsl(147, 73%, 19%);
    font-size: 1rem;
}

.sidebar a, .index a {
    text-decoration:none;
    color :hsl(147, 73%, 19%);
}



.site-title-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.two-align-one-vert {
    display: inline-block;
    width: 35.5%;
}

.two-align {
    display: inline-block;
    width: 49.5%;
    justify: space-between;
}

.big-image {
    width: 100%
}

#horizontal-two {
    width: 63.3%;
}

.three-align {
    display: inline-block;
    width: 25%;
}

#horizontal-three {
    width: 44.4%
}
.trail-img {
    width: 50%;
    margin-left: 0;
}

#area-info-bar .stat-block {
    width: 100%;
    margin-right: 1%;
}
.stat-block {
    margin-right: 1%;
}



.next-button-button {
    background-color: rgb(71, 89, 29);  
    border: none;
    color: rgb(226, 242, 104);
    padding: 0 1rem;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 125px;
    margin: 1rem;
    border-radius: 10px;
    min-height: 3rem;
}

.next-button-button h3 {
    font-size: 0.8rem;
    padding: .25rem 0;
    margin:0;
}

.next-button-button h4 {
    font-size: 0.7rem;
    padding: 0;
    margin:0;
    font-weight: 500;
}
.next-previous {
    display: flex;
    justify-content: space-between;
}
.share {
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
}
.share-home {
    text-align: center;
}
#previous {
    text-align: left;
}
#next {
    text-align: right;
    float: right;
}
.mobile-regions {
    display: none;
}

@media screen and (max-width: 991px) {
    body{
        background-color:#fff;
    }
    .sidebar {
        float: none;
        width: 98%;
        padding: 0;
    }
    
    .content {
        float: none;
        width: 98%;
    }
    
    main {
        width: 100%;
        margin-top: 0px;
    }
       
    .content-title {
        font-size: 2.8rem;
    }
    #area-info-bar, #trail-stats-bar{
        padding:0;
    }
    #highlights, #challenges{
        max-width: 49%;
    }
    #challenges{
        max-width: 30%;
    }
    #region-hikes, #regions-small, #resources{
        display: none;
    }
    #location, #route{
        width: 48%;
        margin: 0;
    } 
    nav img {
        display: none;
    }
    .top-easy-hikes ol, .top-backpacks ol, .top-strenuous-day-hikes ol, .top-boston-hikes ol {
        width: 98%
    }
    .top-easy-hikes img, .top-backpacks img, .top-strenuous-day-hikes img, .top-boston-hikes img{
    width: 100%;
}
    .mobile-regions {
        display: inline-block;
        text-align: center;
    }
    .mobile-regions h3{
        text-align: center;
    }
    #distance-stats {
        max-width: 10%;
    }
    #elevation-stats {
        max-width: 25%;
    }
    #time-stats {
        max-width: 10%;
    }
    #trails {
        max-width: 25%;
    }
    #wildlife {
        max-width: 25%;
    }
   

}

@media screen and (max-width: 479px) {
    
    ul {
        margin: 0;
        padding: 3%;
    }
    #location, #route{
        width: 98%;
        margin: 0 1%;
    }
    .content-title {
        font-size: 1.4rem;
    }
    #highlights, #challenges{
        max-width: 100%;
    }
    #trail-stats-bar {
        display: inline-block;
        flex-direction: none;
        justify-content: none;
        flex-wrap: none;
        }
    .stat-block{
        margin-right: none;
        vertical-align: top;
    }
    #distance-stats, #elevation-stats, #time-stats, #trails, #wildlife  {
        max-width: none;
    }
   
    #time-stats, #distance-stats{
        width: 30%;
        display: inline-block;
    }
    #elevation-stats, #wildlife{
        width: 60%;
        display: inline-block;
    }
    #trails {
        display: none;
    }
    img.two-align-one-vert, img.two-align, img#horizontal-two, img.three-align, #horizontal-three {
        width: 100%;
    }
    .top-easy-hikes, .top-backpacks, .top-strenuous-day-hikes, .top-boston-hikes {
        width: 100%;
    }
    .region-link {
        width: 100%;
    }
    .mobile-regions {
        display: inline-block;
    }
    .share {
        text-align: center;
    }
}
}
